<header>
    <div class="container-cabecalho"> 
        <a href="index.html"><img class="logo"src="/assets/img/logo.svg" alt="logo game mania"></a>
        <h1 class="logo-nome">Game Mania</h1>
    <nav id ="menu"class="menu">
                <a href="index.html"><b>Acessorios</b></a>
                <a href="index.html"><b>Desktops</b></a>
                <a href="index.html"><b>Notebooks</b></a>
                <a routerLink="/login"><b>login</b></a>
                
    </nav>
    <a href="#" onclick="mostrarMenu()"><i id ='fas' class="fas fa-bars"></i></a>
    <!-- <a href="#" id="barras"><i id ='fas' class="fas fa-bars"></i></a> -->
</div>
</header>
