<div class="body">
<main>
    <section class="container conteudo-principal">
    
        <div class="barra-pesquisa">
            <input type="text" name="search" id="search" class="bpesquisa" placeholder="Faça sua busca" required>
            <button id = "pesquisa" onclick = "pesquisarNewletter()" type="submit"><i class="fas fa-search"></i></button> 
        </div>
        <div class="banner">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/assets/img/Banner 1.png" class="d-block w-100" alt="imagem1">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/B2Controle.png" class="d-block w-100" alt="imagem2">
                  </div>
                  <div class="carousel-item">
                    <img src="/assets/img/B3mario.png" class="d-block w-100" alt="imagem3">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        <div class="legenda"><h2 class="legenda1">Promoções de verão</h2></div>
        <div class="banner-oferta">
            <a href="index.html" class="b1"><img src="/assets/img/foneg.png" alt=""></a>
            <a href="index.html" class="b2"><img src="/assets/img/Notebookg.png" alt=""></a>
            <a href="index.html" class="b3"><img src="/assets/img/Gabinteg.png" alt=""></a> 
    </div>
</section>

<section class="container montepc">
        <div class="conteudo-banner02"><h1>MONTE SEU PC DOS SONHOS COM AJUDA DE ESPECIALISTAS</h1>
        </div>
        <div class="imagens">
            <a href="index.html"><img src="/assets/img/ft1.png" alt="" ></a>
            <a href="index.html"><img src="/assets/img/ft2.png" alt=""></a>
            <a href="index.html"><img src="/assets/img/ft3.png" alt=""></a> 
            <a href="index.html"><img src="/assets/img/ft4.png" alt=""></a>
            <a href="index.html"><img src="/assets/img/ft5.png" alt=""></a>
            <a href="index.html"><img src="/assets/img/ft6 (1).png" alt=""></a>
        </div>
</section>
</main>
<app-footer></app-footer>
</div>