<footer>
    <section class="topicos-informacoes">
            <div class="informacoes">
                <ul>
                    <li>Departamentos</li>
                    <li>Hardware</li>
                    <li>Periféricos</li>
                    <li>Teclado e Mouse </li>
                    <li>Computadores</li>
                    <li>Placa de Vídeo Monitores</li>
                    <li> Consoles e Games</li>
                    <li>Áudio</li>
                    <li>Processadores</li>
                </ul>
                <ul>
                    <li>Novidades e Promoções</li>
                    <li>Black Friday</li>
                    <li>Gamer</li>
                    <li>PIX</li>
                    <li>Cartão</li>
                </ul>
                <ul>
                    <li>Compra Segura</li>
                    <li>Garantia Estendida</li>
                    <li>Roubo</li>
                    <li>Quebra Acidental</li>
                </ul>
                <ul>
                    <li>Atendimento</li>
                    <li>Horário de atendimento:</li>
                    <li>06:00 às 17:00</li>
                    <li>Segunda a, sexta</li>
                    <li>Segunda a, sexta</li>
                    <li>(exceto domingo sábados e feriados)</li>
                    <li>E-mail:</li>
                    <li>Yrtelmo00@gmail.com</li>
                </ul>
        </div>
        <div class="selos">
           
        </div>
    </section>

</footer>
